/* Contact Form */
.contact-form {
    --form-ok-color: rgb(109, 238, 109);
    --form-error-color: red;
  }
  .contact-form [required]:valid {
    border: thin solid var(--form-ok-color);
  }
  .contact-form [required].input-invalid {
    border: thin solid var(--form-error-color);
  }
  .contact-form-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: red;
    color: #fff;
    transition: all 800ms ease;
  }
  .contact-form-loader {
    text-align: center;
  }
  .contact-form span {
    width: 100%;
  }
  .contact-form-error.is-active {
    display: inline-block;
    animation: show-message 1s 1 normal 0s ease-out both; 
  }
  .none {
    display: none;
  }
  @keyframes show-message {
    0% {
      visibility: hidden;
      opacity: 0;
    }
  
    100% {
      visibility: visible;
      opacity: 1;
    }
  }