* {
    box-sizing: border-box;
}
/* Services Section */
.services {
  margin-top: 0;
}
/* Mobile Responsive Adjustments */
@media (max-width: 768px) {

  /* Services */
  .services {
    margin-top: 80vh;
  }

}


