<!-- About Us Section -->
<div id="next-section" class="flex flex-col gap-12 p-5 lg:flex-row items-center justify-between">

  <!-- About Us Text -->
  <div class="flex-1 text-center lg:text-left">
    <p class="mb-6 text-sm text-gray-700 px-6">
      <%= aboutUsSection.paragraphOne %>
    </p>
    <p class="mb-6 text-sm text-gray-700 px-6">
      <%= aboutUsSection.paragraphTwo %>
    </p>
    <p class="text-sm text-gray-700 px-6">
      <%= aboutUsSection.paragraphThree %>
    </p>
  </div>

  <!-- 3D Slider -->
  <div class="flex-1 overflow-hidden">
    <div class="slider-3d-wrapper">
      <div class="slider-3d-container">
        <div class="slider-3d-track">
          <div class="slider-3d-item">
            <img src="../assets/public/images/<%= aboutUsSection.images[0] %>" alt="Slide 1">
          </div>
          <div class="slider-3d-item">
            <img src="../assets/public/images/<%= aboutUsSection.images[1] %>" alt="Slide 2">
          </div>
          <div class="slider-3d-item">
            <img src="../assets/public/images/<%= aboutUsSection.images[2] %>" alt="Slide 3">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
