<main class="parallax-wrapper relative overflow-hidden">
    <div class="parallax-bg-v2 bg-center bg-cover bg-opacity-20 min-h-screen pt-56"
      style="background-image: url('../assets/public/images/parallax-index-image.jpg');">
      
      <div class="min-h-screen relative space-y-16">
  
        <!-- Section 1: Hormone Therapy -->
        <section class="min-h-screen flex items-center justify-center px-4 sm:px-6 md:px-8 py-12 text-white relative">
            SECTION 1
        </section>
  
        <!-- Section 2: IV Therapy -->
        <section class="min-h-screen flex items-center justify-center bg-black/50 px-4 sm:px-6 md:px-8 py-12 text-white relative">
            SECTION 2
        </section>
  
        <!-- Section 3: Weight Management -->
        <section class="min-h-screen flex items-center justify-center bg-black/30 px-4 sm:px-6 md:px-8 py-12 text-white relative">
            SECTION 3
        </section>
  
        <!-- Section 4: Sexual Wellness -->
        <section class="min-h-screen flex items-center justify-center bg-black/50 px-4 sm:px-6 md:px-8 py-12 text-white relative">
            SECTION 4
        </section>
  
      </div>
    </div>
  </main>
  