<!-- Social Media -->
<div id="socials" class="socials text-center px-2 py-4 fixed top-56 bg-white right-0">
    <div class="flex flex-col justify-center">
      <!-- Phone -->
      <a href="tel:2109666160" target="_blank" class="text-black hover:text-white transition duration-300 my-2">
        <i class="fa-solid fa-phone-volume phone-icon"></i>
      </a>
      <!-- Instagram -->
      <a href="https://www.instagram.com/ronalbarbershop210" target="_blank" class="text-black hover:text-white transition duration-300 my-2">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <!-- WhatsApp -->
      <a href="https://api.whatsapp.com/send?phone=%2B12109666160&context=ARAqXq8-HbtGpvjq5LKgOE16RSDHsF4hx-CPV5MyS82m17BtMXybjuSssosnk5Yr02URumPA2fUrVwS4GEi6bSHADVDSBMXSiXsc2PToCoNA8B2prpfTjMcL44n8sQExUr5a9uFfH3F1MiLhAtNoP95wJg&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwY2xjawIHWBdleHRuA2FlbQIxMAABHdyZHTk_T5PuDwIWgdYUu0dC1mBsMprSKF0Go3lO6NdcNL4-8Xbq--LUoQ_aem_853h4LR_SLnWhI_QW-Xwxw" target="_blank" class="text-black hover:text-white transition duration-300 my-2">
        <i class="fab fa-whatsapp fa-2x"></i>
      </a>
      <!-- Facebook -->
      <a href="https://www.facebook.com/profile.php?id=100090738468287" target="_blank" class="text-black hover:text-white transition duration-300 my-2">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <!-- TikTok -->
      <a href=" https://www.tiktok.com/@ronalcanales23" target="_blank" class="text-black hover:text-white transition duration-300 my-2">
        <i class="fab fa-tiktok fa-2x"></i>
      </a>
    </div>
</div>