/* Header */
.header {
    transition: all .3s ease-in-out;
    background-color: #fff;
    z-index: 100;
}
.header-up {
    transform: translateY(-100%);
}
.header-down {
    transform: translateY(0);
}
/* Mobile menu */
.mobile-menu {
  position: relative;
  z-index: 110;
}
/* Socials */
.socials {
  transition: all .3s ease-in-out;
}
.socials-right {
  transform: translateX(10rem);
}
.socials-left {
  transform: translateX(0);
  }
/* Mobile Responsive Adjustments */
@media (max-width: 768px) {
  
  /* Socials */
  .socials {
    transition: all .3s ease-in-out;
  }
  .socials-right {
    transform: translateX(10rem);
  }
  .socials-left {
    transform: translateX(0);
  }
    
}